package ${servicePackage};

import ${requestDtoPackage}.${listRequestDto};
import ${requestDtoPackage}.${pageRequestDto};
import ${commonDtoPackage}.${commonResponseDto};
import ${requestDtoPackage}.${saveRequestDto};
import ${requestDtoPackage}.${updateRequestDto};
import com.dmall.common.model.result.BaseResult;
import com.dmall.common.model.result.LayuiPage;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;

/**
 * @description: $!{serviceComment}
 * @author: created by ${author} on ${datetime}
 */
@Api(tags = "$!{serviceComment}")
@RequestMapping("$!{requestMapping}")
public interface ${businessService} {

@PostMapping("/")
@ApiOperation(value = "${saveOperation}")
    BaseResult<Long> save(@Valid @RequestBody ${saveRequestDto} requestDTO);

@DeleteMapping("/{id}")
@ApiOperation(value = "${deleteOperation}")
@ApiImplicitParam(name = "id", value = "${id}", required = true, dataType = "int", paramType = "path")
    BaseResult<Long> delete(@PathVariable("id") Long id);

@PutMapping("/")
@ApiOperation(value = "${updateOperation}")
    BaseResult<Long> update(@Valid @RequestBody ${updateRequestDto} requestDTO);

@GetMapping("/{id}")
@ApiOperation(value = "${getOperation}")
@ApiImplicitParam(name = "id", value = "${id}", required = true, dataType = "int", paramType = "path")
    BaseResult<${commonResponseDto}> get(@PathVariable("id") Long id);

@PostMapping("/list")
@ApiOperation(value = "${listOperation}")
    BaseResult<List<${commonResponseDto}>>list(@RequestBody ${listRequestDto} requestDTO);

@PostMapping("/page")
@ApiOperation(value = "${pageOperation}")
    BaseResult<LayuiPage<${commonResponseDto}>>page(@RequestBody ${pageRequestDto} requestDTO);

        }
