package ${handlerPackage}import com.dmall.component.web.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

;
${errorEnumPackage}
        .${errorEnum};
    ${package.Entity}
        .${entity};
    ${package.Mapper}
        .${table.mapperName};

/**
 * @description: $!{deleteHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${deleteHandler} extends AbstractCommonHandler<Long, ${entity}, Long> {

@Autowired
private ${table.mapperName} ${mapperName};

@Override
public BaseResult<Long> validate(Long id){
        return ResultUtil.success();
        }

@Override
public BaseResult<Long> processor(Long id){
        return ResultUtil.success();
        }

        }
