package ${handlerPackage}import com.dmall.component.web.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

;
${commonDtoPackage}
        .${commonResponseDto};
    ${errorEnumPackage}
        .${errorEnum};
    ${package.Entity}
        .${entity};
    ${package.Mapper}
        .${table.mapperName};

/**
 * @description: $!{getHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${getHandler} extends AbstractCommonHandler<Long, ${entity}, ${commonResponseDto}> {

@Autowired
private ${table.mapperName} ${mapperName};

@Override
public BaseResult<${commonResponseDto}> validate(Long id){
        return ResultUtil.success();
        }

@Override
public BaseResult<${commonResponseDto}> processor(Long id){
        return ResultUtil.success();
        }

        }
