package ${package.Mapper};
${package.Entity}
        .${entity};
    ${superMapperClassPackage}
        ;

/**
 * @description: $!{table.comment}
 * @author: created by ${author} on ${datetime}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

        }
#end
