package ${requestDtoPackage};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;
import lombok.EqualsAndHashCode;
import com.dmall.component.web.entity.PageRequestDTO;
import java.util.*;
import java.math.*;

/**
 * @description: $!{pageRequestComment}
 * @author: created by ${author} on ${datetime}
 */
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${pageRequestDto}", description =  "$!{pageRequestComment}")
public class ${pageRequestDto}  extends PageRequestDTO {


## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if( ("$!field.propertyName" != "id") && ("$!field.propertyName" != "creator") && ("$!field.propertyName" != "gmtCreated")
&& ("$!field.propertyName" != "modifier") && ("$!field.propertyName" != "gmtModified") && ("$!field.propertyName" != "isDeleted"))
#if("$!field.comment" != "")
    @ApiModelProperty(value = "${field.comment}", position = ${foreach.count})
#end
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------

}
