package ${handlerPackage};

import ${commonDtoPackage}.${commonResponseDto};
import ${requestDtoPackage}.${pageRequestDto};
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.dmall.common.dto.LayUiPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.dmall.component.web.handler.AbstractCommonHandler;
import com.dmall.common.dto.BaseResult;
import com.dmall.common.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 * @description: $!{pageHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${pageHandler} extends AbstractCommonHandler<${pageRequestDto}, ${entity}, ${commonResponseDto}> {

    @Autowired
    private ${table.mapperName} ${mapperName};

    @Override
    public BaseResult<LayUiPage<${commonResponseDto}>> validate(${pageRequestDto} requestDTO) {
        return ResultUtil.success();
    }

    @Override
    public BaseResult<LayUiPage<${commonResponseDto}>> processor(${pageRequestDto} requestDTO) {
        return ResultUtil.success();
    }

}
