package ${handlerPackage}import com.dmall.component.web.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

;
${commonDtoPackage}
        .${commonResponseDto};
    ${requestDtoPackage}
        .${pageRequestDto};
    ${package.Entity}
        .${entity};
    ${package.Mapper}
        .${table.mapperName};

/**
 * @description: $!{pageHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${pageHandler} extends AbstractCommonHandler<${pageRequestDto}, ${entity}, ${commonResponseDto}> {

@Autowired
private ${table.mapperName} ${mapperName};

@Override
public BaseResult<LayuiPage<${commonResponseDto}>>validate(${pageRequestDto} requestDTO){
        return ResultUtil.success();
        }

@Override
public BaseResult<LayuiPage<${commonResponseDto}>>processor(${pageRequestDto} requestDTO){
        return ResultUtil.success();
        }

        }
