package ${requestDtoPackage};

import io.swagger.annotations.ApiModel;
import lombok.Data;
import lombok.experimental.Accessors;
import lombok.EqualsAndHashCode;
import ${commonDtoPackage}.${commonRequestDto};

/**
 * @description: $!{saveRequestComment}
 * @author: created by ${author} on ${datetime}
 */
@Data
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
@ApiModel(value = "${saveRequestDto}", description = "$!{saveRequestComment}")
public class ${saveRequestDto} extends ${commonRequestDto} {

}
