package ${package.ServiceImpl}import org.springframework.stereotype.Service;

;
${package.Entity}
        .${entity};
    ${package.Mapper}
        .${table.mapperName};
    ${package.Service}
        .${table.serviceName};
    ${superServiceImplClassPackage}
        ;

/**
 * @description: $!{table.comment}
 * @author: created by ${author} on ${datetime}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>implements ${table.serviceName} {

        }
#end
