package ${handlerPackage};

import ${requestDtoPackage}.${updateRequestDto};
import ${errorEnumPackage}.${errorEnum};
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.dmall.common.model.result.BaseResult;
import com.dmall.component.web.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 * @description: $!{updateHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${updateHandler} extends AbstractCommonHandler<${updateRequestDto}, ${entity}, Long> {

@Autowired
private ${table.mapperName} ${mapperName};

@Override
public BaseResult<Long> validate(${updateRequestDto} requestDTO){
        return ResultUtil.success();
        }

@Override
public BaseResult<Long> processor(${updateRequestDto} requestDTO){
        return ResultUtil.success();
        }

        }