<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.pms.service.impl.brand.mapper.BrandCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.pms.generator.dataobject.BrandDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="english_name" property="englishName"/>
        <result column="first_letter" property="firstLetter"/>
        <result column="logo" property="logo"/>
        <result column="big_pic" property="bigPic"/>
        <result column="creator" property="creator"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pb.id, pb.name, pb.english_name, pb.first_letter, pb.logo, pb.big_pic, pb.creator, pb.gmt_created, pb.modifier, pb.gmt_modified, pb.is_deleted
    </sql>

    <select id="selectBrand" resultType="brandDO">
        select distinct
        <include refid="Base_Column_List"/>
        from pms_brand pb
        INNER JOIN pms_category_brand pcb on pb.id = pcb.brand_id
        WHERE pb.is_deleted = 'N' AND pcb.is_deleted = 'N'
        <if test="categoryId != null">
            and pcb.category_id = #{categoryId}
        </if>
        <if test="name != null and name != ''">
            and pb.name like '%${name}%'
        </if>
        <if test="englishName != null and englishName != ''">
            and pb.english_name like '%${englishName}%'
        </if>
        <if test="firstLetter != null and firstLetter != ''">
            and pb.first_letter = #{firstLetter}
        </if>
    </select>

</mapper>
