<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.pms.service.impl.sku.mapper.SkuPageMapper">

    <select id="skuPage" resultType="com.dmall.pms.generator.dataobject.SkuDO">
        select
        distinct
        ps.id, ps.product_id, ps.merchants_id, ps.brand_id, ps.sku_no, ps.name, ps.sub_name, ps.descriptio, ps.pic,
        ps.price, ps.vip_price, ps.market_price,
        ps.stock, ps.low_stock, ps.sort, ps.publish_status, ps.on_publish_time, ps.off_publish_time,
        ps.recommend_status, ps.new_status,
        ps.preview_status, ps.audit_status, ps.preferential_way, ps.creator, ps.gmt_created, ps.modifier,
        ps.gmt_modified, ps.is_deleted
        from pms_sku ps
        inner join pms_product pp on pp.id=ps.product_id
        left join pms_brand pb on pp.brand_id = pb.id
        left join pms_category_sku pcs on pp.id = pcs.product_id
        <where>
            <if test="request.categoryId!= null">
                and pcp.category_id = #{request.categoryId}
            </if>
            <if test="request.brandId!= null">
                and ps.brand_id = #{request.brandId}
            </if>
            <if test="request.productNo!= null and request.productNo!=''">
                and ps.product_no like '%${request.productNo}%'
            </if>
            <if test="request.skuNo!= null and request.skuNo!=''">
                and ps.sku_no like '%${request.skuNo}%'
            </if>
            <if test="request.name!= null and request.name!=''">
                and ps.name like '%${request.name}%'
            </if>
            <if test="request.publishStatus!= null and request.publishStatus!=''">
                and ps.publish_status = #{request.publishStatus}
            </if>
            <if test="recommendStatus!= null and recommendStatus!=''">
                and ps.recommend_status = #{recommendStatus}
            </if>
            <if test="request.newStatus!= null and request.newStatus!=''">
                and ps.new_status = #{request.newStatus}
            </if>
            <if test="request.previewStatus!= null and request.previewStatus!=''">
                and ps.preview_status = #{request.previewStatus}
            </if>
            <if test="request.auditStatus!= null and request.auditStatus!=''">
                and ps.audit_status = #{request.auditStatus}
            </if>
        </where>
    </select>

</mapper>
