<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.oms.generator.mapper.OrderOperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.oms.generator.dataobject.OrderOperateLogDO">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_status" property="orderStatus" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_status, remark, creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>

</mapper>
