<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.oms.generator.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.oms.generator.dataobject.OrderDO">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="logistics_id" property="logisticsId" />
        <result column="order_no" property="orderNo" />
        <result column="status" property="status" />
        <result column="source" property="source" />
        <result column="pay_type" property="payType" />
        <result column="member_phone" property="memberPhone" />
        <result column="product_count" property="productCount" />
        <result column="total_amount" property="totalPrice" />
        <result column="vip_total_amount" property="vipTotalPrice" />
        <result column="vip_save_amount" property="vipSavePrice" />
        <result column="pay_amount" property="payPrice" />
        <result column="freight_amount" property="freightPrice" />
        <result column="promotion_amount" property="promotionPrice" />
        <result column="integration_amount" property="integrationPrice" />
        <result column="coupon_amount" property="couponPrice" />
        <result column="integration" property="integration" />
        <result column="remark" property="remark" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_post_code" property="receiverPostCode" />
        <result column="receiver_province" property="receiverProvince" />
        <result column="receiver_city" property="receiverCity" />
        <result column="receiver_region" property="receiverRegion" />
        <result column="receiver_detail_address" property="receiverDetailAddress" />
        <result column="logistics_no" property="logisticsNo" />
        <result column="delivery_name" property="deliveryName" />
        <result column="delivery_phone" property="deliveryPhone" />
        <result column="delivery_province" property="deliveryProvince" />
        <result column="delivery_city" property="deliveryCity" />
        <result column="delivery_region" property="deliveryRegion" />
        <result column="delivery_detail_address" property="deliveryDetailAddress" />
        <result column="bill_type" property="billType" />
        <result column="bill_header" property="billHeader" />
        <result column="bill_content" property="billContent" />
        <result column="bill_receiver_name" property="billReceiverName" />
        <result column="bill_receiver_phone" property="billReceiverPhone" />
        <result column="bill_receiver_email" property="billReceiverEmail" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, logistics_id, order_no, status, source, pay_type, member_phone, product_count, total_amount, vip_total_amount, vip_save_amount, pay_amount, freight_amount, promotion_amount, integration_amount, coupon_amount, integration, remark, receiver_name, receiver_phone, receiver_post_code, receiver_province, receiver_city, receiver_region, receiver_detail_address, logistics_no, delivery_name, delivery_phone, delivery_province, delivery_city, delivery_region, delivery_detail_address, bill_type, bill_header, bill_content, bill_receiver_name, bill_receiver_phone, bill_receiver_email, payment_time, delivery_time, receive_time, cancel_time, delete_time, creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>

</mapper>
