<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.oms.generator.mapper.SubOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.oms.generator.dataobject.SubOrderDO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="order_item_id" property="orderItemId" />
        <result column="dismantle_reason" property="dismantleReason" />
        <result column="status" property="status" />
        <result column="logistics_no" property="logisticsNo" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, order_item_id, dismantle_reason, status, logistics_no, warehouse_id, creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>

</mapper>
