<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        dmall
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/treeSelect.css}" href="./css/admin.css" media="all">

</head>
<body>
<form class="layui-form" action="">

    <div class="layui-form-item" style="padding-top: 5px">
        <label class="layui-form-label">品牌名称</label>
        <div class="layui-input-block">
            <input type="hidden" name="id"/>
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入品牌名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-block">
            <input type="text" name="englishName" placeholder="请输入英文名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-inline">
                <select loadData dict="_dealer_type" name="productType">
                </select>
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">品牌LOGO</label>
            <div class="layui-inline">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1"><i class="layui-icon"></i>上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" name="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">品牌简介</label>
        <div class="layui-input-block">
            <textarea name="description" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">更新时间</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="updateTime" name="updateTime">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">省市区</label>
        <div class="layui-input-block">
            <select loadData="region" xm-select-search="" name="region" xm-select-radio xm-select="region">
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">多选框</label>
        <div class="layui-input-block">
            <select loadData dict="_dealer_type" name="productType" xm-select="productType">
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">更新时间</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input date" id="updateTime" name="updateTime">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" id="submit" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>
<script th:src="@{/js/common.js}" charset="utf-8"></script>

<script th:inline="javascript">
    layui.config({
        base: '../layui/extend/' //假设这是你存放拓展模块的根目录
    }).use(['form', 'treeselect', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            treeselect = layui.treeselect;
        //showSelectTree(treeselect,'/type/tree','productType');

        var laydate = layui.laydate;

        laydate.render({
            elem: '#updateTime' //指定元素
        });
        loadSelect($, form);

        initFormData($, form, [[${bean}]], laydate);


        form.on('submit(submit)', function (data) {
            saveOrUpdate($, '/brand/save', data.field);
            return false;
        });

    });
</script>

</body>
</html>