<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        品牌管理
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>商品信息管理</cite></a>
              <a><cite>品牌管理</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh"
                                                                        style="line-height:30px"></i></a>
</div>
<div class="x-body">
    <form class="layui-form" action="">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg3">
                <label class="layui-form-label">品牌名称：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="name">
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6  layui-col-md4 layui-col-lg3">
                <label class="layui-form-label">英文名称：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="englishName">
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6  layui-col-md4 layui-col-lg3">
                <label class="layui-form-label">首字母：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="firstLetter">
                </div>
            </div>
            <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" lay-submit
                    id="formSearch" lay-filter="formSearch" title="搜索"><i class="layui-icon layui-icon-search"></i>
            </button>
        </div>
    </form>
    <table id="brand" class="layui-hide" lay-filter="brand">
    </table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加品牌</button>
        </div>
    </script>
    <script type="text/html" id="logo">
        {{# if (d.logo!=null && d.logo!='') { }}
        <img src="{{d.logo}}?imageView2/2/w/30/h/30"/>
        {{# } }}
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>
<script>
    layui.config({
        base: '/controller/'
    }).use(['element', 'form', 'table', 'layer', 'curd'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var curd = layui.curd;
        curd.initPage('brand', '/brand/page', buildColumn());
        table.on('toolbar(brand)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    curd.openForm('/brand/edit', '添加品牌', '600px', '800px', true);
                    break;
            }
            ;
        });
        table.on('tool(brand)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除该品牌?若品牌下有商品不可删除', {icon: 3, title: '提示'}, function (index) {
                    curd.deleteById('/brand/delete?id=' + data.id, function () {
                        $("#formSearch").click();
                    });
                });
            } else if (obj.event === 'edit') {
                curd.openForm('/brand/edit?id=' + data.id, '修改品牌', '600px', '800px', true);
            }
        });
        form.on('submit(formSearch)', function (data) {
            table.reload('brand', {
                where: data.field
            });
            return false;
        });

        function buildColumn() {
            var cols = [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'ID', sort: true},
                    {field: 'logo', title: '品牌logo', sort: true, templet: '#logo'},
                    {field: 'name', title: '品牌名称'},
                    {field: 'englishName', title: '英文名称'},
                    {field: 'firstLetter', title: '首字母', sort: true},
                    {
                        field: 'updateTime', title: '更新时间', sort: true, templet: function (d) {
                            if (d.updateTime) {
                                return layui.util.toDateString(d.updateTime);
                            } else {
                                return '';
                            }
                        }
                    },
                    {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}

                ]

            ];
            return cols;
        }
    });
</script>
</body>
</html>