<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.pms.generator.mapper.AttributeTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.pms.generator.dataobject.AttributeTypeDO">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="cascade_category_id" property="cascadeCategoryId" />
        <result column="name" property="name" />
        <result column="show_name" property="showName" />
        <result column="sort" property="sort" />
        <result column="specifications_count" property="specificationsCount" />
        <result column="param_count" property="paramCount" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
