<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.pms.generator.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.pms.generator.dataobject.SkuDO">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="merchants_id" property="merchantsId" />
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
        <result column="sku_no" property="skuNo" />
        <result column="name" property="name" />
        <result column="sub_name" property="subName" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="pic" property="pic" />
        <result column="price" property="price" />
        <result column="vip_price" property="vipPrice" />
        <result column="market_price" property="marketPrice" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="lock_stock" property="lockStock" />
        <result column="sort" property="sort" />
        <result column="sku_specifications" property="skuSpecifications" />
        <result column="publish_status" property="publishStatus" />
        <result column="on_publish_time" property="onPublishTime" />
        <result column="off_publish_time" property="offPublishTime" />
        <result column="recommend_status" property="recommendStatus" />
        <result column="new_status" property="newStatus" />
        <result column="preview_status" property="previewStatus" />
        <result column="audit_status" property="auditStatus" />
        <result column="preferential_way" property="preferentialWay" />
        <result column="cascade_category_id" property="cascadeCategoryId" />
        <result column="creator" property="creator" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="modifier" property="modifier" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, merchants_id, category_id, brand_id, sku_no, name, sub_name, description, remark, pic, price, vip_price, market_price, brand_name, stock, low_stock, lock_stock, available_stock, sort, sku_specifications, publish_status, on_publish_time, off_publish_time, recommend_status, new_status, preview_status, audit_status, preferential_way, cascade_category_id, detail_html, detail_mobile_html, creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>

</mapper>
