<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.sso.service.impl.admin.mapper.UserRoleMapper">

    <select id="listByPhone" resultType="com.dmall.sso.service.impl.admin.dataobject.RoleDO">
        select
           distinct r.id, r.name
         from bms_role r
	    left join bms_user_role ur on r.id = ur.role_id
	    left join bms_user u on u.id = ur.user_id
	    where u.phone = #{phone} and r.is_deleted = 'N' and ur.is_deleted = 'N' and u.is_deleted = 'N'
    </select>

</mapper>
