<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.bms.generator.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.service.sso.admin.dataobject.UserDO">
        <id column="id" property="id"/>
        <result column="merchants_id" property="merchantsId"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="icon" property="icon"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="modifier" property="modifier"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchants_id, user_name, nick_name, phone, password, real_name, icon, remark, creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>

</mapper>
