package ${handlerPackage};

import ${responseDtoPackage}.${responseDto};
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.dmall.component.web.handler.AbstractCommonHandler;
import com.dmall.common.dto.BaseResult;
import com.dmall.common.util.ResultUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 * @description: $!{getHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${getHandler} extends AbstractCommonHandler<Long, ${entity}, ${responseDto}> {

    @Autowired
    private ${table.mapperName} ${mapperName};

    @Override
    public BaseResult<${responseDto}> validate(Long id) {
        return ResultUtil.success();
    }

    @Override
    public BaseResult<${responseDto}> processor(Long id) {
        return ResultUtil.success();
    }

}
