package ${handlerPackage};

import ${responseDtoPackage}.${responseDto};
import ${requestDtoPackage}.${pageRequestDto};
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.dmall.common.dto.BaseResult;
import com.dmall.common.dto.ResponsePage;
import com.dmall.component.web.handler.AbstractCommonHandler;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 * @description: $!{pageHandlerComment}
 * @author: created by ${author} on ${datetime}
 */
@Component
public class ${pageHandler} extends AbstractCommonHandler<${pageRequestDto}, ${entity}, ${responseDto}> {

@Autowired
private ${table.mapperName} ${mapperName};

@Override
public BaseResult<ResponsePage<${responseDto}>>validate(${pageRequestDto} requestDTO){
        return ResultUtil.success();
        }

@Override
public BaseResult<ResponsePage<${responseDto}>>processor(${pageRequestDto} requestDTO){
        return ResultUtil.success();
        }

        }
